.action {
    position: relative;
    height: 450px;
    margin: 20px;
  }
  
  video {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 60%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  .cta h2 {
    color: white;
    font-size: 30px;
    text-shadow: 3px 3px 5px #00316e ;
  }
  
  .cta button {
    padding: 10px 20px;
    font-size: 35px;
    font-weight: bold;
    background-color: #ffffff85;
    color: #00316e;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .cta button:hover {
    background-color: #66666685;
  }